.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    position: fixed;    
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: whitesmoke;
    text-align: center;
    margin: 0px;
    z-index: 99999;
 }

 .example-container {
    width: 100vw;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }