.container{
  padding: 20px;
}
.header-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
  background-color: blue;
}

/* Style for the chip list container */
.chip-list-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

/* Style for the chip items */
.chip-item {
  cursor: move;
}

mat-chip {
  background: #f1f1f1;
}
table {
    width: 100%;
    padding-bottom: 10px;
  }

.example-element-detail{
    width: 100%;
  }